* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppin";
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: "header";
  src: url("fonts/Raleway-ExtraBold.ttf");
}

:root {
  --primary: #716A9E;
  --secondary: #BF246E;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  /* background: url('images/stars.jpg');*/
  scroll-behavior: smooth;
  background: #1f1f1f;

  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #333;
  overflow-x: hidden;
  font-family: "poppin";
}

img {
  width: 100%;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background: var(--secondary);
  
}
nav {
  width: 100%;
  padding: 10px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1f1f1f;
}

nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  font-family: cursive;
}

nav .menu div {
  width: 2rem;
  height: .2rem;
  background: #ccc;
  margin: 2px;
}

.banner {
  background: url('images/circle-small.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;

  position: relative;
  background-size: contain;
}

.banner .caption {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 60%;
  color: white;
  width: 100%;
  padding: 10px;
}

.caption h2 {
  font-size: 60px;
  font-weight: 900;
  text-transform: capitalize;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #FFF;
  text-wrap: nowrap;
  font-family: "header";
}

.caption .btn {
  background: transparent;
  border-radius: 48px;
  width: 240px;
  height: 55px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "header";
  font-size: 16px;
  border: 2px solid white;
}

.btn {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 3rem;
  transition: 400ms ease-out;
  border-radius: 48px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: #716A9E;
  margin-top: 1rem;
  font-family: "header";
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.row {
  display: block;
  padding: 30px 10px;
  color: #fff;
}

.row .header {
 margin-bottom: 1rem;
}

.row .header h3 {
  font-size: 55px;
  font-family: "header";
}

.row .counter {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-top-right-radius: .2rem;
  border-bottom-left-radius: .2rem;
  background: #1f1f1f;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  line-height: 2.5rem;
  text-align: center;
  font-family: "header";
  font-size: 40px;
}
.c4{
  height: auto;
}
.portfolio{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  overflow: hidden;
}
.portfolio div{
  display: block;
}
.c2{
  background: var(--primary);
}
.c2 .btn{
  background: transparent;
  color: #fff;
}
.c2 .btn:hover{
  background: var(--secondary);
  outline: none;
  color: white;
}

.c3{
  background: #1f1f1f;
}
.c3 .btn{
  background: transparent;
  color: var(--secondary);
}
.c4{
  background: var(--secondary);
}

.c5{
  background: url('images/circle-large.png');
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  background-size: contain;
}
.c5 .b-field{
  display: block;
  margin: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  overflow: hidden;
}
.b-field input{
  width: 100%;
  display: block;
  background: #1f1f1f;
  height: 60px;
  padding: 15px;
  outline: none;
  color: white;
  border: none;
  font-family: "poppin";
}
.b-field textarea{
  height: 100px;
  width: 100%;
  line-height: 3.5rem;
  background: #1f1f1f;
  border: none;
  color: #fff;
  outline: none;
  padding: 10px;
  font-family: "poppin";
}
.b-field textarea ::placeholder{
  padding: 15px;
}
.b-field button{
  background: var(--primary);
  padding: 10px;
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  font-family: "header";
}
footer{
  display: flex;
  text-align: center;
  background: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
footer a{
  text-decoration: none;
  color: var(--primary);
  
}

.sidebar{
  visibility: hidden;
  opacity: 0;
  width: 100%;
  top: 0;
  height: 100%;
  position: fixed !important;
  background: var(--secondary);
  z-index: 600;
  display: flex;
  transition: 0.4s ease-in;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar ul a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 1rem;
  font-family: "header";
}
.close{
  width: 50px;
}
.active{
  visibility: visible;
  opacity: 1;
 border-bottom-left-radius: 25rem;
 border-top-left-radius: 25rem;
}

a > span{
  background: linear-gradient(90deg, var(--secondary), var(--primary));
  color: transparent;
  background-clip: text;
}
.preloader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1f1f1f;
  z-index: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.preloader .loaders{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.preloader .loaders > div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  margin: 10px;
}
.preloader p{
  display: block;
  font-size: 55px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #42445A;
  font-family: "header";
}
.preloader div:nth-child(2){
  background: var(--secondary);
}
.preloader div:nth-child(3){
  background: var(--primary);
}




.tabs{
  display: flex;
  justify-content: center;
  align-items: center;
 /* overflow-x: scroll;
  width: 80%;
  margin: 1px auto;
  */
}
.tabs > p{
  margin: 10px;
  position: relative;
  text-transform: capitalize;
 /* font-family: "header";*/
}
.tabs .active::before{
  content: "";
  width: 100%;
  height: .2rem;
  background: white;
  position: absolute;
  bottom: -10%;
  left: 0;
  border-radius: 48px;
}
.portfolio img{
  display: none;
}
.show{
  display: block !important;
}